html, body, #map
{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #eeeeee;
  color: #555555;
  text-align: center;
}

#address {
  font-size: 24px;
}

.footer {
  font-size: 18px;
}

.center-marker {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  pointer-events: none;
}

.center-marker:before, .center-marker:after {
  position: absolute;
  left: 50%;
  content: '';
  height: 64px;
  width: 6px;
  background-color: rgba(0, 0, 0, 0.4);
}

.center-marker:before {
  transform: rotate(45deg);
}

.center-marker:after {
  transform: rotate(-45deg);
}
